<div class="navbar">
  <i style="height: 40px; width: 50px;" (click)="slideMenu()" class="menu-mobile fas fa-bars"></i>
  <div>eatnow</div>

  <div class="full-screen-nav-item">sign up</div>
  <div class="full-screen-nav-item">sign in</div>
</div>

<div [style.left]="isShown ? '0' : '-100%'" class="footer">
  <div class="top">
    <div class="">Eatnow</div>
    <div class="mobile-menu">sign up</div>
    <div class="mobile-menu">sign in</div>
  </div>
  <div class="bottom">
    <div class="mobile-menu bar"></div>
    <div>About EatNow</div>
  </div>
</div>
