      <!-- first -->
      <div class="flex bullet-wrap">
        <div
          class="hex-wrap waypoint animated flip-in-x"
          data-animation="flip-in-x"
        >
          <div class="hexagon"></div>
          <i class="fas icon fa-tachometer-alt"></i>
        </div>
        <div class="waypoint animated fade-in" data-animation="fade-in" >
          <div class="label bold">Fast</div>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem,
            quisquam?
          </div>
        </div>
      </div>
      <!-- second -->
