<section class="why-us-section">
  <div class="container">
    <div class="row">
      <!-- first -->
      <div class="flex col-md-4 bullet-wrap">
        <div
          class="hex-wrap waypoint animated flip-in-x"
          data-animation="flip-in-x"
        >
          <div class="hexagon"></div>
          <i class="fas icon fa-tachometer-alt"></i>
        </div>
        <div class="waypoint animated fade-in" data-animation="fade-in">
          <div class="label bold">Fast</div>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem,
            quisquam?
          </div>
        </div>
      </div>
      <!-- second -->

      <div class="flex col-md-4 bullet-wrap">
        <div
          class="hex-wrap waypoint animated flip-in-x"
          data-animation="flip-in-x"
        >
          <div class="hexagon"></div>
          <i class="fas icon fa-tachometer-alt"></i>
        </div>
        <div class="waypoint animated fade-in" data-animation="fade-in">
          <div class="label bold">Fast</div>
          <div>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae,
            cumque.
          </div>
        </div>
      </div>
      <!-- third -->

      <div class="flex col-md-4 bullet-wrap">
        <div
          class="hex-wrap waypoint animated flip-in-x"
          data-animation="flip-in-x"
        >
          <div class="hexagon"></div>
          <i class="fas icon fa-tachometer-alt"></i>
        </div>
        <div class="waypoint animated fade-in" data-animation="fade-in">
          <div class="label bold">Fast</div>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae,
            odio?
          </div>
        </div>
      </div>
      <!-- closing -->
    </div>
  </div>
</section>
