@use './app/scss/color';
@font-face {
  font-family: raleway;
  src: url(assets/fonts/Raleway/Raleway-Regular.ttf) format("opentype");
}
@font-face {
  font-family: raleway-bold;
  src: url(assets/fonts/Raleway/Raleway-Bold.ttf) format("opentype");
}
@font-face {
  font-family: raleway-light;
  src: url(assets/fonts/Raleway/Raleway-Light.ttf) format("opentype");
}
@font-face {
  font-family: raleway-medium;
  src: url(assets/fonts/Raleway/Raleway-Medium.ttf) format("opentype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "raleway";
  color: color.$white;
  text-align: center;
  width: 100vw;
  font-size: 8pt;
  line-height: 11pt;
  overflow-x: hidden;
}

.bold {
  font-family: "raleway-bold";
}
.light {
  font-family: "raleway-light";
}
.medium {
  font-family: "raleway-medium";
}
h1,
.label {
  font-weight: 500;
  margin: 20px 0 10px 0;
}
h1{
  font-size: 29pt;
}
.label{
  font-size: 14pt;
}

.section-underline{
  width: 65px;
background-color: color.$pink;
height: 3px;
position: relative;
margin: 30px auto;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 12pt;
    line-height: 18pt;
  }
  .label {
    font-size: 18pt;
    margin: 15px 0 5px 0;
  }
}
