/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: raleway;
  src: url(assets/fonts/Raleway/Raleway-Light.ttf) format("opentype");
  src: url(assets/fonts/Raleway/Raleway-Medium.ttf) format("opentype");
  src: url(assets/fonts/Raleway/Raleway-Bold.ttf) format("opentype");
  src: url(assets/fonts/Raleway/Raleway-Regular.ttf) format("opentype");
}



body{
  margin: 0;
  font-family: 'raleway';
  color: #ffffff;
}
